* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cf-color: rgb(240, 183, 212);
}
a {
  color: inherit;
  text-decoration: none;
}
.mynav {
  background-color: #5f214b;
  background-size: cover;
  min-height: 100px;
  max-width: 1600px !important; /*in case of a xxl screen*/
  margin: 0 auto;
}
.nav-link {
  font-weight: bold;
  font-size: larger;
}
.container {
  background-color: rgba(243, 162, 216, 0.4);
  padding: 0;
}
.hero-title {
  background-color: var(--cf-color);
}
.product {
  transition: all 0.6s ease-in-out;
}
.product:hover {
  transform: scale(1.05);
}
.product-button {
  background-color: #eea2cc;
  color: white;
  font-size: 1em;
}

.product-button:hover {
  background-color: var(--cf-color);
  color: #671145;
  box-shadow: 10px 10px 25px -10px rgba(150, 19, 109, 0.75);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(134, 58, 99, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(142, 51, 106, 0.75);
}
.card img {
  margin: auto;
  width: 80%;
  height: 50%;
}
.cart {
  max-width: 1600px;
  margin: 0 auto;
}
.cart-row {
  border-bottom: 1px solid rgb(180, 176, 176);
  width: 100%;
}

.cart-item-image {
  width: 80px;
  height: auto;
  border-radius: 20px;
}

.cart-total {
  font-weight: bold;
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-size: 1.5em;
  margin-right: 20px;
}

.btn-purchase {
  font-size: 1.5em;
  background-color: var(--cf-color);
}

.btn-purchase:hover {
  background-color: rgb(168, 162, 162);
  box-shadow: 10px 10px 25px -10px rgba(182, 71, 140, 0.75);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(144, 92, 123, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(109, 46, 90, 0.75);
}
footer {
  background-color: rgb(155, 152, 152);
  min-height: 100px;
  max-width: 1600px !important;
  margin: 0 auto;
}
